<a href="https://colab.research.google.com/github/dasom17/test_p/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

8. 보기를 출력하세요.
"안녕하세요?" 본인이름 님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.

In [ ]:
name = input("본인 이름을 입력하세요.")
print("안녕하세요?", name, "님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.")

#변수 설정하기, input 함수 활용, "" 사이에 입력한 내용은 그대로 출력, 변수는 "" 붙이지 않기, 반점 꼭 쓰기

본인 이름을 입력하세요.노다솜
안녕하세요? 노다솜 님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.

10. 변수를 작성하는 방법 3가지를 computer program으로 만드시오.

In [5]:
#방법 1
x = 100
print(x)

#방법 2
y = '200'
print(y)

#방법 3
name = "홍길동"
print(name)

#변수의 규칙 : 문자 또는 _로 시작, 문자,숫자,_구성,공백 및 특수 문자 사용 불가

100
200
홍길동

19. 다음 보기의 사칙연산을 완성하시오. 한줄에 모두, 여러줄로 나누어서, 보기좋게 정리하시오. 
보기 : 1+2, 2-3, 3*4, 4/4

In [ ]:
print("1+2 =",(1+2),"입니다.")
print("2-3 =",(2-3),"입니다.")
print("3*4 =",(3*4),"입니다.")
print("4/4 =",(4/4),"입니다.")
print("1+2, 2-3, 3*4, 4/4 =",1+2, 2-3, 3*4, 4/4, "입니다.")

#기본형
#print(1+2)
#print(2-3)
#print(3*4)
#print(4/4)
#print(1+2, 2-3, 3*4, 4/4)

#정리
#print("1+2 =",(1+2),"입니다.")
#print("2-3 =",(2-3),"입니다.")
#print("3*4 =",(3*4),"입니다.")
#print("4/4 =",(4/4),"입니다.")
#print("1+2, 2-3, 3*4, 4/4 =",(1+2, 2-3, 3*4, 4/4),"입니다.")

#print("사칙연산")<-문자열, 값은 print(사칙연산)

1+2 = 3 입니다.
2-3 = -1 입니다.
3*4 = 12 입니다.
4/4 = 1.0 입니다.
1+2, 2-3, 3*4, 4/4 = 3 -1 12 1.0 입니다.

20.아래의 출력화면을 간결하고 보기좋게 코딩하시오.

****************************************
* 제1조 1항 대한민국은 민주공화국이다. *
****************************************

In [ ]:
print("*"*40)
print("* 제1조 1항 대한민국은 민주공화국이다. *")
print("*"*40)

#print("*")로 작성하여 문자 취급 후 * 40

****************************************
* 제1조 1항 대한민국은 민주공화국이다. *
****************************************

21. 사용자에게 성명, 나이, 주소를 입력받아서 출력하라.

In [ ]:
name = input("성명을 입력하세요.")
age = input("나이를 입력하세요.")
addr = input("주소를 입력하세요.")
print("사용자의 이름은", name, ",나이는", age,"살, 주소는", addr,"입니다.")

#변수설정꼭하기

성명을 입력하세요.5
나이를 입력하세요.5
주소를 입력하세요.4
사용자의 이름은 5 ,나이는 5 살, 주소는 4 입니다.

22. 터틀그래픽 사용법에 대해서 코딩하고 설명하시오.

In [ ]:
#파이썬 쉘에서 다음과 같이 입력한다.
import turtle
t = turtle.Turtle()
t.shape("turtle");
#거북이에게 명령을 내리면 거북이가 움직인다. 예를 들어서 "앞으로 전진," "뒤로 후진", "왼쪽으로 방향 전환" 등의 명령을 내릴 수 있다.
t.forward(100)
#거북이가 100만큼 전진하며 직선이 그려진다.

23. Welcome Python. 저는 파이썬을 좋아합니다.를 출력하는 문장을 작성하시오.

In [ ]:
print("Welcome Python. 저는 파이썬을 좋아합니다.")

Welcome Python. 저는 파이썬을 좋아합니다.

24. 9 * 9는 81입니다.를 출력하는 문장을 작성하시오.

In [ ]:
print("9*9는",9*9,"입니다.")

9*9는 81 입니다.

25. x = 100
y = 200
z = 50
sum = z + y - z
print(x,y,z, "sum의 값은", sum, "입니다.")
출력되는 내용은?

In [ ]:
x = 100
y = 200
z = 50
sum = x + y - z
print(x,y,z, "sum의 값은", sum, "입니다.")

100 200 50 sum의 값은 250 입니다.

26. x = 9
y = 6
print(x+y)
출력되는 내용은?

In [ ]:
x = 9
y = 6
print(x+y)

15

27. x = '7'
y = '4'
print(x+y)
출력되는 내용은?

In [ ]:
x = '7'
y = '4'
print(x+y)

#문자열은 더하면 숫자 그대로 나옴 ex) '7'+'4'는 74

74

29. 아래의 보기와 같이 두 가지 방법을 코딩하시오.(숫자를 받으려면 int함수를 사용해야 한다.)
방법 1.
첫 번째 정수를 입력하시오.:
두 번째 정수를 입력하시오.:
두 합의 값은 100100입니다.
방법 2.
첫 번째 정수를 입력하시오.:
두 번째 정수를 입력하시오.:
두 합의 값은 200입니다.

In [ ]:
#방법 1
N1 = input("첫 번째 정수를 입력하시오.:")
N2 = input("두 번째 정수를 입력하시오.:")
print("두 합의 값은",N1+N2,"입니다.")
#방법 2
N1 = int(input("첫 번째 정수를 입력하시오."))
N2 = int(input("두 번째 정수를 입력하시오."))
print("두 합의 값은",N1+N2,"입니다.")

#문자열 계산은 변수 = input
#정수형 계산은 변수 = int(input())로 계산하기

첫 번째 정수를 입력하시오.:100
두 번째 정수를 입력하시오.:100
두 합의 값은 100100 입니다.
첫 번째 정수를 입력하시오.100
두 번째 정수를 입력하시오.100
두 합의 값은 200 입니다.

30. 문자열로 받은 200을 숫자형(정수)으로 바꾸는 함수와 정수로 받은 200을 문자형으로 바꾸는 함수는?

In [17]:
x = '200'
y = 200
int(x), str(y)

(200, '200')

33. 반복문을 사용하여 " 방문을 환영합니다."를 10번 출력하는 코드를 작성하시오.

In [16]:
for i in range(10):
  print("방문을 환영합니다.")
  #()뒤에 : 꼭 넣기
  #print 앞에 들여쓰기 반드시 하기

방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.